<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STYLE_VERSION</key>
	<string>1.0</string>
	<key>STYLE_TITLE</key>
	<string>style title - default</string>
	<key>STYLE_DESC</key>
	<string>style desc - default</string>
	<key>STYLE_PREVIEW</key>
	<string>preview</string>
</dict>
</plist>
