<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DemoNavColor</key>
	<string>#ffffff</string>
	<key>DemoCellColor</key>
	<string>10,10,10,0.8</string>
	<key>DemoModule</key>
	<dict>
		<key>StyleViewColor</key>
		<string>#0000ff,0.3</string>
		<key>SubModule</key>
		<dict>
			<key>LabelColor</key>
			<string>255,255,255</string>
		</dict>
	</dict>
</dict>
</plist>
